// SPDX-License-Identifier: GPL-2.0+
/*
 * Ingenic ISVP-T23N-LP (DDR2 64 MB M14D5121632A, CPU 936 MHz / DDR 400 profile of T23N), SFC-NOR.
 */

/dts-v1/;

#include "t23-isvp.dtsi"

/ {
	model = "Ingenic ISVP-T23N-LP (SFC NOR)";
};

&ddr {
	compatible = "ingenic,t23nlp-ddr-innophy";
};
