// SPDX-License-Identifier: GPL-2.0+
/*
 * Ingenic ISVP-T23X (DDR2 64 MB M14D5121632A, CPU 1000 MHz / DDR 500), SFC-NOR.
 */

/dts-v1/;

#include "t23-isvp.dtsi"

/ {
	model = "Ingenic ISVP-T23X (SFC NOR)";
};

&ddr {
	compatible = "ingenic,t23x-ddr-innophy";
};
