// SPDX-License-Identifier: GPL-2.0+

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "t32.dtsi"

/ {
	compatible = "ingenic,isvp-t32", "ingenic,t32";
	model = "Ingenic ISVP-T32 (SFC NOR)";

	aliases {
		serial1 = &uart1;
	};

	chosen {
		stdout-path = "serial1:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x04000000>;	/* 64 MB DDR2 (M14D5121632A) */
	};
};

&uart1 {
	status = "okay";
};
