// SPDX-License-Identifier: GPL-2.0+
/*
 * Ingenic ISVP-T32VNP (LPDDR3 128 MB W63AH6N2B @700, CPU 900 MHz), SFC-NOR.
 */

/dts-v1/;

#include "t32-isvp.dtsi"

/ {
	model = "Ingenic ISVP-T32VNP (SFC NOR)";
};

&ddr {
	compatible = "ingenic,t32vnp-ddr-innophy";
};
